<div class="bg-black text-white">
    <footer class="bg-black text-gray-400 py-8">
        <div class="container mx-auto px-4">
          <div class="flex flex-wrap justify-between">
            <div class="w-full sm:w-1/2 lg:w-1/4 mb-4">
              <h3 class="font-bold mb-2 text-gray-200">Company</h3>
              <ul>
                <li><a href="#" class="hover:text-white">Home</a></li>
                <li><a href="#" class="hover:text-white">About</a></li>
                <li><a href="#" class="hover:text-white">Contact</a></li>
                <li><a href="#" class="hover:text-white">Careers</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/4 mb-4">
              <h3 class="font-bold mb-2 text-gray-200">Help</h3>
              <ul>
                <li><a href="#" class="hover:text-white">FAQ</a></li>
                <li><a href="#" class="hover:text-white">Support</a></li>
                <li><a href="#" class="hover:text-white">Privacy Policy</a></li>
                <li><a href="#" class="hover:text-white">Terms of Service</a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/4 mb-4">
              <h3 class="font-bold mb-2 text-gray-200">Social</h3>
              <ul class="flex space-x-6 items-center">
                <li><a href="https://www.facebook.com/netflix" class="hover:text-white"><img  src="/public/icons8-facebook-48.png"></a></li>
                <li><a href="https://www.instagram.com/netflix/" class="hover:text-white"><img  src="/public/icons8-instagram-48.png"></a></li>
                <li><a href="https://x.com/netflix" class="hover:text-white"><img class="bg-white rounded-lg h-10" src="/public/icons8-twitterx-48.png"></a></li>
                <li><a href="https://www.youtube.com/@Netflix" class="hover:text-white"><img  src="/public/icons8-youtube-48.png"></a></li>
              </ul>
            </div>
            <div class="w-full sm:w-1/2 lg:w-1/4 mb-4">
              <h3 class="font-bold mb-2 text-gray-200">More</h3>
              <ul>
                <li><a href="#" class="hover:text-white">Media Center</a></li>
                <li><a href="#" class="hover:text-white">Investor Relations</a></li>
                <li><a href="#" class="hover:text-white">Legal Notices</a></li>
                <li><a href="#" class="hover:text-white">Netflix Originals</a></li>
              </ul>
            </div>
          </div>
          <div class="text-center mt-8 text-gray-600">
            &copy; 2024 Netflix, Inc.
          </div>
        </div>
      </footer>
    
</div>
